[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
supabase = "*"
cohere = "*"
langchain-cohere = "*"
youtube-transcript-api = "*"
google-api-python-client = "*"
celery = {extras = ["redis"], version = "*"}
arxiv = "*"

[dev-packages]

[requires]
python_version = "3.11"
